extends template/layout

block content
    .main
        section.hero-slider
            .owl-carousel.owl-theme.js-hero-owl
                mixin hero-slider__item(bg,title,text)
                    .hero-slider__item(style= bg)
                        .container
                            .h1.hero-slider__title=title
                            .hero-slider__text.text=text
                            a(href="javascript:;").button.hero-slider__button Подробнее
                +hero-slider__item('background-image: url("imgs/section11.jpg")','Взыскание дебиторской задолженности','Индивидуальный подход и нацеленность на достижение результата')
                +hero-slider__item('background-image: url("imgs/section12.jpg")','Взыскание дебиторской задолженности','Индивидуальный подход и нацеленность на достижение результата')
                +hero-slider__item('background-image: url("imgs/section13.jpg")','Взыскание дебиторской задолженности','Индивидуальный подход и нацеленность на достижение результата')
                +hero-slider__item('background-image: url("imgs/section14.jpg")','Взыскание дебиторской задолженности','Индивидуальный подход и нацеленность на достижение результата')
                +hero-slider__item('background-image: url("imgs/section15.jpg")','Взыскание дебиторской задолженности','Индивидуальный подход и нацеленность на достижение результата')
        section.preim1
            .container
                .row.preim1__cards
                    mixin preim__card(img,text)
                        .col-md-6.col-lg-3
                            .preim__card
                                .preim__icon
                                    img(src= img alt= text)
                                .preim__name=text
                    +preim__card('./imgs/section21.svg','Надежная защита')
                    +preim__card('./imgs/section22.svg','Безупречная репутация')
                    +preim__card('./imgs/section23.svg','Ориентированность на результат')
                    +preim__card('./imgs/section24.svg','Абсолютная конфиденциальность')

        section.escort
            .container
                .escort__block
                    .row
                        .col-md-7.escort__text.text
                            h1.h2 Юридическое сопровождение бизнеса от «МК-Правовые технологии»
                            p Главный принцип нашей работы - качество. Постоянно следовать ему помогает сплоченная команда талантливых и энергичных сотрудников, способных сообща заниматься сложными проектами, никогда не допуская сбоев в работе.
                            p Мы обеспечиваем максимальный уровень профессионального обслуживания, который можно ожидать от крупной юридической фирмы.
                            p Нашу фирму отличают яркая индивидуальность и следование модели эффективного юридического обслуживания. Благодаря профессиональной гибкости мы находим творческие решения как обычных вопросов, так и неординарных проблем, возникающих у наших клиентов.
                            p Все наши рекомендации основаны на глубоких академических знаниях и опыте практического применения в хозяйственном праве.
                        .col-md-5.escort__img-wrap
                            img.escort__img(src="./imgs/section3.jpg" alt="alt")
        section.directions
            .container
                .h2 Основные направления деятельности
                .row
                    mixin directions__item(title, img)
                        .col-md-6.col-lg-4
                            .directions__item
                                .directions__main
                                    .directions__title=title
                                    a(href="#").directions__link Подробнее
                                .directions__img
                                    .directions__img-inner
                                        img(src= img alt= title)
                    +directions__item('Взыскание долгов', './imgs/section41.svg')
                    +directions__item('Реорганизация бизнеса', './imgs/section42.svg')
                    +directions__item('Продажа бизнеса', './imgs/section43.svg')
                    +directions__item('Юридические консультации', './imgs/section44.svg')
                    +directions__item('Ликвидация организаций', './imgs/section45.svg')
                    +directions__item('Разработка договоров', './imgs/section46.svg')
                    +directions__item('Регистрация бизнеса', './imgs/section47.svg')
                    +directions__item('Юридический аутсорсинг', './imgs/section48.svg')
                    +directions__item('Аттестация в строительстве', './imgs/section49.svg')
                .directions__btn
                    a(href="#").button Все услуги
        section.main-directions
            .container
                .row
                    .col-md-4
                        .h2 Основные направления деятельности
                    .col-md-8.text
                        p Основной принцип нашей работы – максимальная открытость и доверительные отношения с каждым клиентом, с тем чтобы от начала и до конца совместной работы, не возникало никакого недопонимания. Мы ставим целью не только привлечение новых клиентов, но и поддержание длительных партнерских отношений с клиентами, которые уже воспользовались нашими услугами.
                        p Быстрота анализа и профессиональных действий наших юристов обеспечивают успешное решение, казалось бы, неразрешимых вопросов. Богатые знания и солидный опыт позволяют нам оказывать комплексную правовую помощь в ситуациях любой сложности.
                .main-directions__slider
                    .owl-carousel.js-main-dir
                        img(src="imgs/section51.jpg" alt="alt").main-directions__img
                        img(src="imgs/section52.jpg" alt="alt").main-directions__img
                        img(src="imgs/section53.jpg" alt="alt").main-directions__img
                        img(src="imgs/section54.jpg" alt="alt").main-directions__img
                        img(src="imgs/section55.jpg" alt="alt").main-directions__img
        section.comments
            .container
                .h2 Отзывы наших партнеров
                .owl-carousel.js-comments-slider
                    mixin comments__item(position,title,content)
                        .comments__item
                            .comments__img
                                img(src="imgs/section6.jpg" alt="alt")
                            .comments__main
                                .comments__position=position
                                .comments__title=title
                                .comments__content.text=content
                                a(href="#").comments__link читать далее
                    +comments__item('директор','С.В. Косачев','Уважаемая Светлана Александровна! Наша компания выражает благодарность и признательность обществу с ограниченной ответственностью «МК-Правовые технологии». Благодаря слаженной работе и высокой квалификации Ваших сотрудников и специалистов компания «ВиваСтрой» получила качественные юридические услуги по взысканию денежных средств с должника. Профессионализм работников ООО «МК-Правовые технологии», а также желание работать со сложными и нестандартными задачами является залогом высокоэффективного и успешного взаимодействия наших компаний. Рекомендуем...')
                    +comments__item('глава представительства','Валерий Мяснянкин','Представительство корпорации «VMSN GROUP, INC.» (США) в Республике Беларусь на протяжении нескольких лет сотрудничает с ООО «МК-Правовые технологии» в рамках сопровождения деятельности по юридическим вопросам, в том числе по вопросам ведения кадрового делопроизводства – абонентское обслуживание. Хотелось бы отметить работу специалистов ООО «МК-Правовые технологии» хорошими теплыми словами: надёжные, обязательные, пунктуальные. Вопросы любой сложности им по плечу. Работая с профессионалами МК-Правовые технологии, всегда можно рассчитывать...')
                    +comments__item('глава представительства','Валерий Мяснянкин','Представительство корпорации «VMSN GROUP, INC.» (США) в Республике Беларусь на протяжении нескольких лет сотрудничает с ООО «МК-Правовые технологии» в рамках сопровождения деятельности по юридическим вопросам, в том числе по вопросам ведения кадрового делопроизводства – абонентское обслуживание. Хотелось бы отметить работу специалистов ООО «МК-Правовые технологии» хорошими теплыми словами: надёжные, обязательные, пунктуальные. Вопросы любой сложности им по плечу. Работая с профессионалами МК-Правовые технологии, всегда можно рассчитывать...')
                    +comments__item('глава представительства','Валерий Мяснянкин','Представительство корпорации «VMSN GROUP, INC.» (США) в Республике Беларусь на протяжении нескольких лет сотрудничает с ООО «МК-Правовые технологии» в рамках сопровождения деятельности по юридическим вопросам, в том числе по вопросам ведения кадрового делопроизводства – абонентское обслуживание. Хотелось бы отметить работу специалистов ООО «МК-Правовые технологии» хорошими теплыми словами: надёжные, обязательные, пунктуальные. Вопросы любой сложности им по плечу. Работая с профессионалами МК-Правовые технологии, всегда можно рассчитывать...')
                .comments__btn
                    a(href="#").button Все отзывы
        section.partners
            .container
                .row
                    .col-md-7
                        .partners_text.text Оказываем юридические услуги юридическим лицам и индивидуальным предпринимателям. Специализируемся в области хозяйственного права, работаем на всей территории Республики Беларусь, а также за ее пределами, с бизнесом любого масштаба.
                    .col-md-5
                        .partners__btn
                            a(href="#").button Наши партнеры
                .partners__participants
                    img(src="./imgs/section71.png").partners__img
                    img(src="./imgs/section72.png").partners__img
                    img(src="./imgs/section73.png").partners__img
                    img(src="./imgs/section74.png").partners__img
                    img(src="./imgs/section75.png").partners__img
        section.explanation
            .container
                .row
                    .col-lg-6
                        .explanation__block
                            .explanation__h2.h2 Просто объясним сложные вещи
                            .explanation__text.text В своей практике, мы дотошно соблюдаем законность, учитываем сложившуюся правовую практику и правила юридической этики. Мы считаем, что в поддержке бизнеса важно учитывать конкретные проблемы клиента и строить сотрудничество по принципу тщательного изучения всех нюансов возникшей ситуации. Всегда честны и объективны.
                    .col-lg-6
                        .explanation__block.explanation__block-p
                            .explanation__h2.h2 Надежно защитим права и интересы
                            .explanation__text.text Заказав комплексные юридические услуги в ООО «МК-Правовые технологии», можно больше не платить зарплату штатному юристу, страховые отчисления и налоги с его доходов. Можно не оплачивать отпуск, больничные и не беспокоиться о нахождении работника на рабочем месте в нужный момент.
                .explanation__block.explanation__block-m
                    .explanation__h2.explanation__h2-m.h2 Вы платите только за результат!
                    .explanation__text-m.text В своей практике, мы дотошно соблюдаем законность, учитываем сложившуюся правовую практику и правила юридической этики. Мы считаем, что в поддержке бизнеса важно учитывать конкретные проблемы клиента и строить сотрудничество по принципу тщательного изучения всех нюансов возникшей ситуации. Всегда честны и объективны.
        section.image
            img(src="./imgs/section9.jpg")
        section.services
            .container
                .services__h2.h2 Перечень оказываемых услуг
                .row.services__block
                    mixin services__item(text)
                        .services__item&attributes(attributes)
                            .services__inner
                                .services__text
                                    p=text
                                    a(href="#").services__link Подробнее
                    +services__item('Регистрации ИП и юрлиц')(class='width1 color1')
                    +services__item('Ликвидация, реорганизация и продажа бизнеса')(class='width3 color1')
                    +services__item('Взыскание дебиторской задолженности')(class='color2')
                    +services__item('Письменные и устные консультации')(class='color2')
                    +services__item('Разработка уставных документов и внесение изменений в них')(class='width3 color3')
                    +services__item('Ведение переговоров')(class='width1 color3')
                    +services__item('Комплексное сопровождение бизнеса')(class='color2')
                    +services__item('Сопровождение деловых сделок')(class='color2')
                    +services__item('Лицензирование бизнеса')(class='width1 color1')
                    +services__item('Решение правовых споров')(class='width3 color1')
                .row
                    .col-md-8
                        .services__description.text Оказание юридических услуг юридическим лицам и индивидуальным предпринимателям – наша работа. Среди собственников бизнеса принято считать, что прочитать закон в Интернете и применить его на практике - это одно и тоже. Основываясь на этом убеждении, они часто отказываются от профессиональной помощи. Практика же показывает, что только опытный юрист может правильно разобраться в правовых тонкостях, своевременно предотвратить ложные шаги и ускорить получение результата.
                    .col-md-4
                        .services__btn
                            a(href="#").button Все услуги

        section.benefit
            .container
                mixin benefit__item(h2,text,li1,li2,li3,li4)
                    .row.benefit__item
                        .col-md-6
                            .benefit__h2.h2=h2
                            .benefit__text.text=text
                        .col-md-6
                            .benefit__li=li1
                            .benefit__li=li2
                            .benefit__li=li3
                            .benefit__li=li4
                +benefit__item('Почему нам доверяют','Прозрачность и открытость для клиентов – наш принцип, который с самого начала исключает любые недопонимания. Мы тщательно продумали работу каждого юриста внутри коллектива, что обеспечивает высокое качество юридических услуг компании.','безупречная репутация','абсолютная конфиденциальность','внимание к каждому клиенту','успешный опыт решения нестандартных вопросов')
                +benefit__item('Что получает клиент','Юристы нашей компании готовы дать четкие, основанные на фактах, консультации, касающиеся и «типовой», и нестандартной ситуации, опираясь на сложившуюся служебную практику и многолетний опыт. Мы объективно оцениваем риски и тщательно анализируем каждый случай.','надежная защита бизнеса','актуальная правовая помощь','своевременная оценка рисков','компетентное решение правовых вопросов')
        section.preim2
            .container
                .preim2__h2.h2 Наши преимущества
                .row.preim2__cards
                    +preim__card('./imgs/section121.svg','Лицензия на оказание юридических услуг')
                    +preim__card('./imgs/section122.svg','Опытные сотрудники')
                    +preim__card('./imgs/section123.svg','Коммуникативные навыки – без труда открываем любые двери и быстро решаем нужные вопросы')
                    +preim__card('./imgs/section124.svg','Скрупулезный поход к ведению документации')
                .preim2__text.text
                    p Юристы нашей компании готовы дать четкие, основанные на фактах, консультации, касающиеся и «типовой», и нестандартной ситуации, опираясь на сложившуюся служебную практику и многолетний опыт. Мы объективно оцениваем риски и тщательно анализируем каждый случай.
        section.cooperation
            .container
                .row
                    .col-md-6
                        .cooperation__h2.h2 Организация сотрудничества
                        mixin cooperation__item(number,text)
                            .cooperation__item
                                .cooperation__number=number
                                .cooperation__text=text
                        +cooperation__item('1','Установив контакт с нашим сотрудником, Вы оговорите нюансы предмета обсуждения и согласуете личную встречу.')
                        +cooperation__item('2','Юрист изучит документы, необходимые для разработки стратегии решения возникшей ситуации. И заключит договор.')
                        .cooperation__text2.text Также в нашей компании возможна удаленная форма обслуживания с оказанием полного комплекса юридических услуг в РБ через современные средства связи и мессенджеры.
                    .col-md-6
                        form(id="forms").cooperation__form
                            .cooperation__name Ваше имя
                            input(type="text" name="name" placeholder="Ваше имя").cooperation__input
                            .cooperation__name Телефон для связи
                            input(type="tel" name="tel" pattern="2[0-9]{3}-[0-9]{3}" placeholder="+375 (XX) XXX-XX-XX").cooperation__input
                            .cooperation__conditions Нажимая на кнопку «Получить консультацию», вы соглашаетесь с условиями
                            a(href="#").cooperation__link Политики конфиденциальности
                            input(type="submit" value="Получить консультацию").cooperation__submit.button
        section.cost
            .container
                .row
                    .col-lg-7
                        .cost__h2.h2 Стоимость юридических услуг в Минске
                        .cost__text.text Стоимость услуг формируется согласно тарифам, установленным в компании и в зависимости от времени, затраченного юристом на разрешение возникшей ситуации. Принцип прозрачности делает наши цены обоснованными и понятными для клиента.
                        a(href="#").cost__btn.button Тарифы
                    .col-lg-5